.maincard {
  max-width: 50rem;
}
.display-3 {
  text-align: center;
}

.display-3 span {
  color: #17a2b8;
}
.fa-sync-alt {
  color: #555555;
}
.btn-outline-secondary:hover .fa-sync-alt {
  color: #ffffff;
  transform: rotate(20deg);
}

th {
  color: #17a2b8;
}
.delete:hover {
  cursor: pointer;
  transform: scale(1.5) rotate(12deg);
}
